textarea {
    width: 80%;
    display: block;
    margin: auto;
    margin-left: 3em;
    padding: 1rem;
    border-radius: 9px;
    border-color: var(--primary-lack);
    border-width: medium;
    background-color: rgb(237, 236, 236);
    outline: none;
    height: 10rem;
}

#output {
    width: 80%;
    display: block;
    margin-left: 3em;
    margin-bottom: 0.5em;
    padding: 1rem;
    /* border: 1px solid rgb(14, 178, 207); */
    border-radius: 9px;
    border-color: var(--primary-lack);
    border-width: medium;
    background-color: rgb(237, 236, 236);
    outline: none;
    height: 10rem;
}

body {
    font-style: italic;
    margin: 0rem;
}

h1 {
    text-align: center;
    display: block;
    background-color: rgb(255, 166, 31);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0.67em;
}

#btn-translate {
    margin-top: 0.5em;
    margin-left: 3em;
    /* background-color: rgb(255, 175, 2); */
    font-weight: bold;
    padding: 1rem 2rem;
    width: max-content;
    font-weight: 700;
    font-size: small;
    background-color: transparent;
    color: rgb(26, 18, 2);
    border-radius: 7px;
    border-color: rgb(253, 143, 0);
    /* margin: auto; */
    outline: none;
}

#happy {
    margin-left: 2.60em;
    margin-top: 0.67em;
    margin-bottom: 0.5em;
}

#foot {
    text-align: center;
    display: block;
    background-color: rgb(255, 161, 20);
    padding: 1rem;
    border-top-left-radius: 1rem;
    font-size: 1em;
    margin-bottom: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}